# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Distribuciones / empaquetados
build/
dist/
*.egg-info/

# Archivos de entorno virtual (si usás venv o virtualenv)
venv/
env/
ENV/

# Archivos de configuración de IDEs comunes
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de cache de pytest
.cache/

# Archivos específicos de sistema operativo
.DS_Store
Thumbs.db

